@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@1,100..900&family=Satisfy&display=swap');

.divider-success {
  height: 1px;           
  background-color: #FAF7F2; 
  margin: 15px 0;       
  width: 40%;           
}

@media (max-width: 600px) {
  h1 {
    white-space: pre-line; 
    word-spacing: 100vw;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

.order-container {
  background-color: #CE2829;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.barlow {
    font-family: 'Barlow', sans-serif;
}

.order-title {
  font-size: 2rem;
  font-weight: 300; 
  margin-bottom: 0.5rem;
  color: #FDC913;
  font-family: 'Satisfy', sans-serif;
}

.order-subtitle {
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300; 
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 2rem;
}

.order-details {
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 7rem;
  margin-left:10rem;
  width: 100%;
  max-width: 400px;
  text-align: left;
  font-family: 'Barlow', sans-serif;
}

.order-summary-success{
  border: 1px solid #FAF7F2;
  padding: 2rem 3rem;
  border-radius: 6px;
  margin-bottom: 8rem;
  max-width: 400px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.order-details p, .order-summary-success p {
  margin: 0.5rem 0;
  font-size: 1rem;
}
